/*@media screen and (max-width: 991px) {*/
#head{
	background-color: #1B1B1B;
	height: 44px;
	max-width: 991px;
}
#body{
	background-color: #262626;
	color: #999999;
	font-family: Gotham Pro;
}
#icon{
	height: 40px;
	margin: 2px;
}

#main{
	align-content: center;
	max-width: 991px;
}

#vector{
	margin-top: 74px;
	margin-bottom: 45px;
}
#text{
	color: white;
	font-size: 18px;
	margin-bottom: 100px;
}
#button{
	height: 40px;
	background-color: #DD3037;
	border: 0px black solid;
	color: white;
	border-radius: 30px;
	width: 156px;
}