
/*@media screen and (max-width: 991px) {*/
#head{
	background-color: #1B1B1B;
	height: 44px;
	max-width: 991px;
}
#body{
	background-color: #262626;
	color: #999999;
	font-family: Gotham Pro;
}
#icon{
	height: 40px;
	margin: 2px;
}

#main{

	align-content: center;
	max-width: 991px;
	text-align: center;
	position: relative;
}
#text_block{
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	top: 55%;
	color: white;
	
}
#about p{
	color: white;
	font-size: 16px;
}
#header_about{
	margin-bottom: 35px;
	margin-top: 35px;
}
#form_button{
	background-color: #999999;
	border: 0px solid black;
	border: 3px solid #999999;
}
.form_button{
	background-color: #262626;
	border: 0px solid black;
	color: white;
	margin-left: 10px;
	border: 3px solid #999999;
}
.vacancy{
	border: 3px solid #999999;
	border-radius: 30px;
	max-width: 991px;
	margin-top: 15px;
}
#submit_button_2{
	margin-top: 35px;
	width: 260px;
	background-color: #DD3037;
	border: 0px solid black;
	border-radius: 30px;
	color: white;
	height: 40px;
	margin-bottom: 45px;
}
#advantage{
	background-color: black;
	height: 500px;
	
}
.advantage{
	color: white;
	height: 70px;
	border-bottom: 3px solid #999999;
	text-align: left;
}

#submit_button_1{
	width: 200px;
	background-color: #DD3037;
	border: 0px solid black;
	border-radius: 30px;
	color: white;
	height: 40px;
	margin-top: 35px;
}
#products_container{
	margin-top: 35px;
	margin-bottom: 35px;
}
#products_button_1{
	background-color: #999999;
	border: 0px solid black;
	border: 3px solid #999999;
	width: 108px;
	border-radius: 5px;
	margin-top: 35px;
	margin-bottom: 35px;

}
#products_button_2{
	background-color: #262626;
	border: 0px solid black;
	border: 3px solid #999999;
	color: white;
	width: 108px;
	border-radius: 5px;
	margin-top: 35px;
	margin-bottom: 35px;
}
#career_container{
	background-color: black;
}

#sucsess{
	position: relative;
}

#text_sucsess_1{
	left: 20%;
	bottom: 65%;
	color: white;
	position: absolute;
	text-transform: uppercase;
}
#submit_button_3{
	margin-top: 35px;
	width: 260px;
	background-color: #DD3037;
	border: 0px solid black;
	border-radius: 30px;
	color: white;
	height: 40px;
	margin-bottom: 45px;
}
#content{
	position: absolute;
	text-transform: uppercase;
	border: 3px solid green;
	width: 313px;
	margin-top: -10%;
	left: 40%;
	border-radius: 20px;
}

#_button_3{
	background-color: #999999;
	border: 0px solid black;
	border: 3px solid #999999;
	width: 150px;
	border-radius: 5px;
	margin-top: 35px;
	margin-bottom: 35px;

}
#_button_4{
	background-color: #262626;
	border: 0px solid black;
	border: 3px solid #999999;
	color: white;
	width: 150px;
	border-radius: 5px;
	margin-top: 35px;
	margin-bottom: 35px;
}
#contacts{
	padding-top: 15px;
	margin-top: 135px;
	background-color: black;
}